body {
  font-family: monospace;
}

#bandeau {
  top: 0px;
  width: 100%;
  height: 100px;
  z-index: 2;
  position: fixed;
  background-color: white;
}

#input_insee {
  top: 10px;
}

#bandeau_commune {
  border-bottom-style: outset;
}

.titre_commune {
  margin-left: 30px;
}

#reponse {
  position: absolute;
  top: 100px;
}

#pied_de_page {
  position: relative;
  width: 100%;
  height: 30px;
  z-index: 3;
}

#credits {
  background: darkgrey;
  position: fixed;
  bottom: 0px;
  width: 100%;
  overflow: visible;
  z-index: 4;
  text-align: justify;
}

table.tablesorter tbody td {
  &.rapproche {
    color: white;
    font-weight: bold;
    background: #009900;
  }

  &.qualifie {
    color: white;
    font-weight: bold;
    background: #555555;
  }
}

body {
  font-family: monospace;
}

#bandeau {
  top: 0px;
  width: 100%;
  height: 70px;
  z-index: 3;
  position: fixed;
  background-color: white;
}

#reponse {
  position: absolute;
  top: 80px;
  z-index: 2;
}

#credits {
  background: darkgrey;
  position: fixed;
  bottom: 0px;
  width: 100%;
  overflow: visible;
  z-index: 4;
  text-align: justify;
}

#pied_de_page {
  position: relative;
  width: 100%;
  height: 30px;
  z-index: 3;
}

.zone_click {
  cursor: pointer;
  color: blue;
  text-decoration: underline;

  &.clicked {
    background-color: green;
    color: white;
  }
}

#wait_ajax {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: lightgray;
  opacity: 0;
  text-align: center;

  span {
    background-color: black;
    vertical-align: middle;
    font-size: 30px;
    line-height: 500px;
    color: white;
    border: 50px solid black;
  }
}

#table_voies_recentes tr td {
  background: white;
  color: black;
  font-weight: normal;
}

table.tablesorter thead tr .header {
  height: 40px;
}

body {
  font-family: monospace;
}

#bandeau {
  top: 0px;
  width: 100%;
  height: 90px;
  z-index: 3;
  position: fixed;
  background-color: white;
}

#input_dept {
  top: 10px;
}

.titre_dept {
  margin-left: 0px;
}

#reponse {
  position: absolute;
  top: 90px;
  z-index: 2;
}

#wait_ajax {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: lightgray;
  opacity: 0;
  text-align: center;

  span {
    background-color: black;
    vertical-align: middle;
    font-size: 30px;
    line-height: 500px;
    color: white;
    border: 50px solid black;
  }
}

#pied_de_page {
  position: relative;
  width: 100%;
  height: 30px;
  z-index: 3;
}

#credits {
  background: darkgrey;
  position: fixed;
  bottom: 0px;
  width: 100%;
  overflow: visible;
  z-index: 4;
  text-align: justify;
}

#infobulle_aide {
  position: fixed;
  color: red;
  background: #dddddd;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  top: 10px;
  right: 10px;
  vertical-align: bottom;
  text-align: center;
  font-weight: bolder;
  font-size: 35px;
}

#aide {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 400px;
  height: 100%;
  background-color: lavender;
  overflow-y: scroll;
  visibility: hidden;
  z-index: 10;
}

.fermer {
  color: red;
  float: right;
  border: 1px black solid;
  width: 20px;
  text-align: center;
  background: black;
  font-weight: bolder;
}

#aide {
  h3 {
    margin-top: 30px;
    margin-left: 10px;
  }

  li {
    font-weight: bolder;
    background-color: ivory;
  }

  p {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 3px;
  }
}

table.tablesorter {
  thead tr .header {
    /*width: 150 px;*/
    height: 60px;
  }

  tbody tr td {
    &.Raster {
      color: #ffffff;
      text-align: center;
      font-weight: bolder;
      background: #000000;
    }

    &.Vecteur {
      text-align: center;
      font-weight: bolder;
      background: #ffbb00;
    }
  }
}

#bandeau {
  top: 0px;
  width: 100%;
  height: 210px;
  z-index: 3;
  position: fixed;
  background-color: white;
}

#input_insee {
  top: 10px;
}

#bandeau_commune {
  border-bottom-style: outset;
}

.titre_commune {
  margin-left: 30px;
}

.cellule_intitule {
  text-align: right;
}

.cellule_data {
  font-weight: bold;
}

#rubriques {
  position: absolute;
  top: 130px;

  th {
    background-color: black;
    color: white;
  }
}

#reponse {
  position: absolute;
  top: 210px;
  z-index: 2;
}

.emphase {
  color: red;
  font-size: x-large;
}

.rubrique {
  cursor: pointer;
  width: 200px;
  height: 50px;
  position: relative;
  color: black;
  font-weight: bold;
  background: white;
  margin-right: 10px;

  &.active {
    border: 3px solid black;
  }
}

.table_liste {
  display: none;
}

.zone_click {
  cursor: pointer;
  color: blue;
  text-decoration: underline;

  &.clicked {
    background-color: green;
    color: white;
  }
}

#refresh_infos {
  position: fixed;
  width: 250px;
  height: 56px;
  top: 6px;
  right: 109px;
  display: none;
  z-index: 5;
  background-color: white;

  span {
    font-weight: bold;
  }
}

#bouton_communes_voisines {
  position: fixed;
  background-image: url("img/communes_voisines.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 119px;
  z-index: 4;
}

#table_communes_voisines {
  position: fixed;
  border: solid 1px;

  //height: 100px;
  top: 10px;
  right: 119px;
  background-color: white;
  z-index: 5;
  visibility: hidden;

  table tr td {
    &.lien_commune {
      color: blue;
      text-decoration: underline;
      cursor: pointer;
    }

    &.commune_centre {
      color: black;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      cursor: default;
      background-color: lightblue;
    }
  }
}

#bouton_refresh {
  position: fixed;
  background-image: url("img/72176-600.png");
  background-size: 49px 56px;
  background-repeat: no-repeat;
  width: 49px;
  height: 56px;
  top: 6px;
  right: 60px;
}

#infos_refresh {
  width: 100%;
  height: 200px;
  top: 0px;
  left: 0px;
  background-color: lightgrey;
  opacity: 0.8;
  position: fixed;
  display: none;
  z-index: 15;
}

#wait_ajax {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: lightgray;
  opacity: 0;
  text-align: center;

  span {
    background-color: black;
    vertical-align: middle;
    font-size: 30px;
    line-height: 500px;
    color: white;
    border: 50px solid black;
  }
}

#infobulle_aide {
  position: fixed;
  color: red;
  background: #dddddd;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  top: 10px;
  right: 10px;
  vertical-align: bottom;
  text-align: center;
  font-weight: bolder;
  font-size: 35px;
}

#aide {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 400px;
  height: 100%;
  background-color: lavender;
  overflow-y: scroll;
  visibility: hidden;
  z-index: 10;
}

.fermer {
  color: red;
  float: right;
  border: 1px black solid;
  width: 20px;
  text-align: center;
  background: black;
  font-weight: bolder;
}

#aide {
  h3 {
    text-align: center;
  }

  li {
    font-weight: bolder;
    background-color: ivory;
  }

  p {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 3px;
  }
}

#rub_adresses_non_match.active, #rub_voies_fantoir_non_match.active, #rub_places_non_match.active {
  background: lightgrey;
}

#rub_adresses_match.active, #rub_voies_match.active, #rub_places_match.active {
  background: lightgreen;
}

#table_voies_match tr td, #table_adresses_match tr td, #table_adresses_non_match tr td, #table_voies_fantoir_non_match tr td, #table_places_non_match tr td, #table_places_match tr td {
  background: lightgrey;
  color: grey;
  font-weight: bold;
}

/*	#table_places_non_match tr.statut0 td.ld_habite,
	#table_places_match tr.statut0 td.ld_habite{
		background-image: url("img/ld_habite.png");
		background-size: 15px 12px;
		background-repeat: no-repeat;
	}
*/

#table_voies_match tr.statut0 td, #table_adresses_match tr.statut0 td, #table_places_match tr.statut0 td, #table_adresses_non_match tr.statut0 td, #table_voies_fantoir_non_match tr.statut0 td, #table_places_non_match tr.statut0 td {
  background: white;
  color: black;
  font-weight: normal;
}

#table_voies_match tr.statut0 td.clicked, #table_adresses_match tr.statut0 td.clicked, #table_places_match tr.statut0 td.clicked, #table_adresses_non_match tr.statut0 td.clicked, #table_voies_fantoir_non_match tr.statut0 td.clicked, #table_places_non_match tr.statut0 td.clicked {
  background-color: green;
  color: white;
  font-weight: normal;
}

#table_adresses_match tr.statut0 td.cell_fantoir, #table_voies_match tr.statut0 td.cell_fantoir, #table_places_match tr.statut0 td.cell_fantoir {
  background: lightgreen;
  color: black;
  font-weight: normal;
}

#table_adresses_non_match tr.statut0 td.cell_fantoir, #table_voies_fantoir_non_match tr.statut0 td.cell_fantoir, #table_places_non_match tr.statut0 td.cell_fantoir {
  background: lightgrey;
  color: black;
  font-weight: normal;
}

#pied_de_page {
  position: relative;
  width: 100%;
  height: 30px;
  z-index: 3;
}

#credits {
  background: darkgrey;
  position: fixed;
  bottom: 0px;
  width: 100%;
  overflow: visible;
  z-index: 4;
  text-align: justify;
}
